.about_content {
	height: auto;
	position: relative;
	padding-bottom: 1rem;
}

.text_chunk {
	margin-bottom: 3rem;
}

.text_chunk > p > span {
	background-color: rgba(255, 255, 255, 0.7);
}

.text_and_image {
	margin: 0;
	display: flex;
	align-items: center;
}

.text_half {
	flex: 3;
}

.image_half {
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image_half > img {
	object-fit: contain;
	scale: 0.8;
	position: absolute;
	z-index: -1;
	overflow: hidden;
}

.headshot_mobile {
	display: none;
}

.scrollToTop {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 1rem !important;
	bottom: 1rem;
	display: none;
}

@media (orientation: portrait) {
	.text_and_image {
		flex-direction: column;
		flex-wrap: wrap-reverse;
	}

	.image_half > img {
		display: none;
	}

	.headshot_mobile {
		object-fit: contain;
		height: 100vw;
		max-height: 500px;
		display: block;
		padding-bottom: 2rem;
	}

	.scrollToTop {
		display: block;
	}
}
