.grid_item {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	border: solid 2px var(--secondary-color);
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0px 5px 10px rgb(84, 84, 84, 0.5);
	cursor: pointer;
	/* Safari */
	-webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px);
	background-color: rgba(255, 255, 255, 0.75);
}

.grid_item > img {
	z-index: -1;
}

.modal_wrapper {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 5rem;
	user-select: none;
	display: none;
}

.icon_container {
	/* position: absolute; */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75%;
}

.modal {
	height: 100%;
	width: 100%;
	max-width: 1000px;
	border-radius: 3px;
	background: var(--primary-color);
	z-index: 2;
	border: solid 2px var(--secondary-color);
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 2rem;
	margin: auto;
	box-shadow: 15px 15px 3rem rgba(72, 72, 72, 0.2);
	position: relative;
}

/* This is used to add a little space buffer for safari's mobile "search chin" UI
That little feature does not play nice with vh units */
.mobile_modal_footer {
	height: 200px;
}

.show_modal {
	display: block;
}

.close_x {
	position: sticky;
	z-index: 3;
	width: 50px;
	height: 50px;
	margin: 20px;
	float: right;
	cursor: pointer;
	filter: var(--filter-value);
}

.background {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	background: #ff3232;
}

/* THIS STYLE IS IMPORTED AND USED IN EACH GRID ITEM PAGE COMPONENT */
.content_padding {
	padding: 1rem;
	box-sizing: border-box;
}

.content_padding > h2 {
	pointer-events: none;
}

.title_container {
	padding: 1rem;
	color: var(--static-black);
}

@media (orientation: portrait) {
	.expand {
		grid-column: 1 / 7;
		grid-row: 1 / 10;
		left: 0;
		z-index: 1;
	}

	.modal {
		max-height: 100vh;
		overscroll-behavior: contain;
	}

	@media only screen and (max-width: 600px) {
		.content_padding {
			padding: 0.3rem;
		}

		.modal_wrapper {
			padding: 2.5rem;
		}

		.close_x {
			height: 25px;
			width: 25px;
			margin: 8px;
		}
	}

	@media only screen and (max-width: 400px) {
		.grid_item {
			display: flex;
			flex-direction: column;
			backdrop-filter: none;
			box-shadow: 0px 4px 3px rgba(144, 144, 144, 0.5);
		}

		.title_container {
			background: black;
			/* padding: 0.4rem; */
			padding: 1vw;
			/* padding: 0; */
			height: 25%;
			display: flex;
			align-items: center;
		}

		.title {
			margin-bottom: 0;
			/* margin-left: 33%; */
			/* font-size: clamp(1rem, 8vw, 2rem); */
			color: white;
			font-size: clamp(0.5rem, 5vw, 1rem);
			font-weight: 100;
			margin-left: 4px;
		}

		.modal_wrapper {
			padding: 0rem;
		}

		.modal {
			padding: 1rem;
			padding-top: 2.5rem;
			height: inherit;
			position: absolute;
			top: 0;
			left: 0;
		}

		.content_padding > h2 {
			font-size: 2rem;
		}
	}
}
