/* Individual grid item background blur */
.glass_back {
	position: absolute;
	top: 0;
	z-index: -2;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(2px);
}

.grid_item {
	position: absolute;
	width: 100%;
	height: 100%;
	border: solid var(--secondary-color);
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 5px 5px 1rem rgb(72, 72, 72, 0.5);
	cursor: pointer;
	-webkit-backdrop-filter: blur(2px); /* Safari */
	backdrop-filter: blur(2px);
}

.close_x {
	position: sticky;
	right: 0;
	z-index: 3;
	width: 50px;
	height: 50px;
	margin: 20px;
	float: right;
	cursor: pointer;
}

/* Indvidual grid item "thumbnail" content fade */
.fade_wrapper {
	z-index: 1;
	position: absolute;
	height: 100%;
	width: 100%;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.1),
		rgba(255, 255, 255, 0.889)
	);
}

/* Whole background blur when a grid item is expanded */
.blur_wrapper {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	scale: 4;
}

/* THIS STYLE IS IMPORTED AND USED IN EACH GRID ITEM PAGE COMPONENT */
.content_padding {
	height: 100%;
	padding: 1rem;
	box-sizing: border-box;
}

.content_padding > h2 {
	pointer-events: none;
}

.expand {
	grid-column: 1 / 10;
	grid-row: 1 / 8;
	left: 0;
	z-index: 1;
	width: 100% !important;
	height: 100% !important;
	background: var(--primary-color);
	overflow-y: scroll;
	/* pointer-events: none; */
	cursor: default;
}

@media (orientation: portrait) {
	.expand {
		grid-column: 1 / 7;
		grid-row: 1 / 10;
		left: 0;
		z-index: 1;
	}

	@media only screen and (max-width: 600px) {
		.content_padding {
			padding: 0.3rem;
		}

		.close_x {
			height: 25px;
			width: 25px;
			margin: 8px;
		}
	}

	@media only screen and (max-width: 400px) {
		.expand {
			grid-row: 1 / 13;
			scale: 1.05;
			width: 100% !important;
			height: 110% !important;
		}

		.content_padding > h2 {
			pointer-events: none;
			font-size: 2rem;
		}
	}
}
